@import '../../styles';

.admin__house__list {
    @mixin default__list__styles {
        background-color: $primary2;
        border-radius: .3em;
        font-family: 'Inter', sans-serif;
        width: 95%;

        @include desktop {
            font-size: .9rem;
        }

        @include smartphone {
            font-size: .7rem;
        }

    }

    @mixin default__item__styles {
        margin: 5px 10px;
        text-align: justify;

        @include desktop {
            width: 200px;
        }

        @include tablet {
            width: 150px;
        }

        @include smartphone {
            width: 120px;
        }
    }

    // Styles related to the header component
    .list__header {
        font-weight: 600;
        margin: 50px auto;

        @include default__list__styles;
    
        > .header__list {
            display: flex;
            justify-content: space-between;
            padding: .3em;
            width: 100%;
            
            > .header__list__item {
                @include default__item__styles;
            }
    
            > .--id {
                width: 20px; 
            }
        }
    }

    // Styles related to the list component
    .page__list {
        margin: 0 auto;
        
        @include default__list__styles;
    
        > .list__item {
            align-items: center;
            border-bottom: .1em solid $soft-black;
            display: flex;
            justify-content: space-between;
            padding: .6em;
            width: 100%;
    
            > .item__content {
                @include default__item__styles;
            }
    
            > .item__content--id {
                margin: 5px 10px;
                text-align: justify;
                width: 20px;
            }
        }
    }
}