@import '../../styles';

.admin__house__list {

    // Styles related to the header component
    .list__header {
        background-color: $primary2;
        border-radius: .3em;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        margin: 50px auto;
        width: 95%;

        @include desktop {
            font-size: .9rem;
        }

        @include smartphone {
            font-size: .7rem;
        }
    
        > .header__list {
            display: flex;
            justify-content: space-between;
            padding: .3em;
            width: 100%;
            
            > .header__list__item {
                text-align: justify;
                margin: 5px 10px;

                @include desktop {
                    width: 200px;
                }

                @include tablet {
                    width: 150px;
                }

                @include smartphone {
                    width: 120px;
                }
            }
    
            > .--id {
                width: 20px; 
            }
        }
    }

    // Styles related to the list component
    .page__list {
        background-color: $primary2;
        font-family: 'Inter', sans-serif;
        font-size: .9rem;
        margin: 0 auto;
        width: 95%;
        border-radius: .3em;

        @include desktop {
            font-size: .9rem;
        }

        @include smartphone {
            font-size: .7rem;
        }
    
        > .list__item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: .6em;
            border-bottom: .1em solid $soft-black;
    
            > .item__content {
                text-align: justify;
                margin: 5px 10px;

                @include desktop {
                    width: 200px;
                }

                @include tablet {
                    width: 150px;
                }

                @include smartphone {
                    width: 120px;
                }
    
            }
    
            > .item__content--id {
                width: 20px;
                text-align: justify;
                margin: 5px 10px;
            }
        }
    }
}