$primary1: #55C121;
$primary2: #ffffff;
$input-default: #e8e8e8;
$input-font-default-color: #B1ADAD;
$error: #ff2b2b;
$success: #3da537;
$website-background: #e1e1e1;
$navbar-button-hover: #c9c9c9;
$black: #000000;
$soft-black: #0000002a;
$primary1-hover: #41cf00;