@import '../../../../styles';

.page__list {
    background-color: $primary2;
    font-family: 'Inter', sans-serif;
    font-size: .9rem;
    margin: 0 auto;
    width: 95%;
    border-radius: .3em;

    > .list__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: .3em;
        border-bottom: .1em solid $soft-black;

        > .item__content {
            width: 120px;
            text-align: justify;
            margin: 5px 10px;

        }

        > .item__content--id {
            width: 40px;
            text-align: justify;
            margin: 5px 10px;
        }
    }
}