@import '../../styles';

.header {
    align-items: center;
    background-color: $primary1;
    display: flex;
    font-family: 'Inter', sans-serif;
    height: 60px;
    justify-content: center;
    width: 100%;

    > .nav__button {
        background-color: $primary1;
        border: none;
        cursor: pointer;
        left: 1%;
        position: fixed;
        top: 1.6%;
        z-index: 3;
    }

    > .header__title {
        color: $primary2;
        font-size: 1.3rem;
    }
}