@import '../../../../styles';

.nav__item {

    > .item__button {
        align-items: center;
        background-color: $primary2;
        border: none;
        cursor: pointer;
        display: flex;
        gap: 20px;
        padding: 20px 30px;
        transition: ease-in-out .3s;
        width: 100%;
        
        > .item__name {
            font-size: 1rem;
            font-weight: 400;
        }

        &:hover {
            background-color: $navbar-button-hover;
        }
    }

}