@import '../../../../styles';

.nav--closed {
    display: none;
}

.nav--open {
    background-color: $primary2;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    height: 100%;
    justify-content: space-between;
    left: 0;
    max-width: 100%;
    padding-top: 70px;
    position: fixed;
    top: 0;
    width: 320px;

    > .nav__items {
        width: 100%;

    }

    > .nav__logout {
        align-items: center;
        background-color: $primary2;
        border: none;
        cursor: pointer;
        display: flex;
        gap: 20px;
        padding: 20px 30px;
        transition: ease-in-out .3s;

        > .logout__text {
            font-size: 1rem;
            font-weight: 400;
        }

        &:hover {
            background-color: $navbar-button-hover;
        }
    }
}